  
.form-box {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: hotpink;  
  margin: 100px;
  height: 80vh;
}

input {
  margin: 1rem;
  box-shadow: 0 0 1em rgba(0,0,0,0.2);
  padding: 0.4rem;
  font-size: 1rem;
}




h3 {
  margin: 1px;
  padding:1px; 
}

.submit-btn {
  background-color: aqua;
  color:black;
  font-weight: bold;
  border:none;
  padding:1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  border-radius: 20px;
}